<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>message board admin</title>
  <link rel="stylesheet" href="vendors/bootstrap.min.css">
  <link rel="stylesheet" href="assets/styles/style.css">

  <script src="vendors/jquery.min.js"></script>
  <script src="assets/scripts/clientAdmin.js"></script>
</head>
<body>
  <div class="jumbotron">
    <p>
      admin!!
    </p>
    <a href="." id="adminButton">User</a>
  </div>
  <div class="container-fluid">
    <div class="row">

      <div id="postMessages" class="col-md-12">
        <h1>Messages</h1>
      </div>
    </div>
  </div>
</body>
</html>
